*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}*/
/*.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}*/

/*ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
}*/

/*.footer-col{
    width: 25%;
    padding: 0 15px;
}*/

/*.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}*/

/*.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}*/
.footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}